@import "tailwindcss";

:root {
  background: var(--bg-main);
  color: var(--text-main);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-main);
  box-shadow: 0 0 0px 1000px var(--bg-input) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-input) inset;
}

@layer base {
  /* --- Main --- */
  .duration-slow {
    transition-duration: var(--duration-slow) !important;
  }

  .duration-medium {
    transition-duration: var(--duration-medium) !important;
  }

  .duration-fast {
    transition-duration: var(--duration-fast) !important;
  }

  .border-main {
    border-color: var(--border-main);
  }

  .bg-accent-color {
    background-color: var(--accent-color);
  }

  .bg-accent-color-hover {
    background-color: var(--accent-color-hover);
  }

  .text-accent-color {
    color: var(--accent-color);
  }

  .text-accent-color-hover {
    color: var(--accent-color-hover);
  }

  /* --- Navbar --- */
  .bg-navbar {
    background-color: var(--bg-navbar);
  }

  .bg-navbar-link {
    background-color: var(--bg-navbar-link);
  }

  .bg-navbar-link-hover:hover {
    background-color: var(--bg-navbar-link);
  }

  .bg-dropdown {
    background-color: var(--bg-dropdown);
  }

  .bg-dropdown-link-hover:hover {
    background-color: var(--bg-dropdown-link);
  }

  .text-navbar {
    color: var(--text-navbar);
  }

  /* --- Grid --- */
  .bg-grid {
    background-color: var(--bg-grid);
  }

  .bg-grid-header {
    background-color: var(--bg-grid-header);
  }

  .border-grid {
    border-color: var(--border-grid);
  }

  /* --- Inputs --- */
  .bg-input {
    background-color: var(--bg-input);
  }

  .border-input {
    border-color: var(--border-input);
  }

  /* --- Buttons --- */
  .bg-button-primary {
    background-color: var(--bg-button-primary);
  }

  .bg-button-primary:hover {
    background-color: var(--bg-button-primary-hover);
  }
}
