:root {
  background: var(--bg-main);
  color: var(--text-main);
  font-size: 0.875rem;
  font-family: "Karla", sans-serif;
}

:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--main-clr);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

/* --- INPUT LABELS --- */
input:focus ~ label,
input:not([type="date"]):not(:placeholder-shown) ~ label,
input:not([type="time"]):not(:placeholder-shown) ~ label,
input:not([type="datetime-local"]):not(:placeholder-shown) ~ label,
input.placeholder ~ label,
input:-webkit-autofill ~ label {
  color: var(--accent-color);
  top: 0;
  font-weight: 600;
}

input.is-empty[type="date"] ~ label,
input.is-empty[type="time"] ~ label,
input.is-empty[type="datetime-local"] ~ label {
  color: var(--text-main);
  font-weight: normal;
}

input.is-empty:focus[type="date"] ~ label,
input.is-empty:focus[type="time"] ~ label,
input.is-empty:focus[type="datetime-local"] ~ label {
  color: var(--accent-color);
  top: 0;
  font-weight: 600;
}

#navbar-menu {
  direction: rtl;
}

#navbar-menu > * {
  direction: ltr;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-main);
  box-shadow: 0 0 0px 1000px var(--bg-input) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-input) inset;
}

.dark-calendar input[type="date"]::-webkit-calendar-picker-indicator,
.dark-calendar input[type="datetime-local"]::-webkit-calendar-picker-indicator,
.dark-calendar input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="checkbox"],
input[type="radio"] {
  &:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid var(--accent-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

input[type="checkbox"]:indeterminate::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: 3.5px;
  width: 7px;
  height: 8px;
  border: solid var(--accent-color);
  border-width: 2px 0 0 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* --- SCROLLBAR --- */
* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-bg);
  }

  &::-webkit-scrollbar-button {
    background-color: transparent;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    background-image: var(--scrollbar-down-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;

    &:hover {
      background-image: var(--scrollbar-down-color-hover);
    }
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    background-image: var(--scrollbar-up-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;

    &:hover {
      background-image: var(--scrollbar-up-color-hover);
    }
  }

  &::-webkit-scrollbar-button:horizontal:increment {
    background-image: var(--scrollbar-right-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;

    &:hover {
      background-image: var(--scrollbar-right-color-hover);
    }
  }

  &::-webkit-scrollbar-button:horizontal:decrement {
    background-image: var(--scrollbar-left-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;

    &:hover {
      background-image: var(--scrollbar-left-color-hover);
    }
  }

  &::-webkit-scrollbar-button:vertical:start:increment,
  &::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }
}

/* --- HIGHLIGHTED BORDERS --- */
a:focus-visible,
li:focus-visible,
button:focus-visible,
input:focus-visible,
ul:focus-visible,
textarea:focus-visible,
div:focus-visible,
span:focus-visible,
th:focus-visible {
  outline: 2px solid var(--accent-color) !important;
  outline-offset: 2px !important;
  z-index: calc(var(--z-base) + 1);
  transition: 0s;
}

/* --- QUILL --- */
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none !important;
}

.ql-snow .ql-stroke {
  stroke: var(--text-main) !important;
}

.ql-snow .ql-fill {
  fill: var(--text-main) !important;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid var(--border-tertiary) !important;

  button,
  .ql-picker-label {
    transition: background-color var(--fast);
    border-radius: 4px;
  }

  button:hover,
  button:active,
  button.ql-active,
  .ql-picker-label:hover,
  .ql-picker-label:active .ql-picker-label.ql-active {
    background-color: var(--bg-navbar-link) !important;
  }

  button:hover .ql-stroke,
  button:active .ql-stroke,
  button.ql-active .ql-stroke,
  .ql-picker-label:hover .ql-stroke,
  .ql-picker-label:active .ql-stroke,
  .ql-picker-label.ql-active .ql-stroke {
    stroke: var(--accent-color) !important;
  }

  button:hover .ql-fill,
  button:active .ql-fill,
  button.ql-active .ql-fill,
  .ql-picker-label:hover .ql-fill,
  .ql-picker-label:active .ql-fill,
  .ql-picker-label.ql-active .ql-fill {
    fill: var(--accent-color) !important;
  }

  .ql-bold,
  .ql-italic,
  .ql-underline,
  .ql-strike,
  .ql-color,
  .ql-background,
  .ql-list,
  .ql-clean {
    display: flex;
    justify-content: center;

    &::before,
    &::after {
      position: absolute;
      pointer-events: none;
      opacity: 0;
    }

    &::after {
      content: attr(tooltip-title);
      display: flex;
      align-items: center;
      background-color: var(--bg-tooltip);
      font-size: 0.8rem;
      min-height: 1.625rem;
      line-height: 1.125;
      border-radius: 4px;
      color: var(--text-main-reverse);
      padding: 0.4rem 0.6rem;
      bottom: 100%;
    }

    &::before {
      content: "";
      bottom: 98.5%;
      height: 15px;
      width: 15px;
      background: var(--bg-tooltip);
      transform: rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      opacity: 1;
    }
  }

  .ql-picker {
    &::before {
      bottom: 112.5%;
    }

    &::after {
      bottom: 125%;
      white-space: pre;
    }
  }

  .ql-italic {
    &::after {
      white-space: pre;
    }
  }

  // .ql-bold::after {
  //   content: "Fetstil\A(Ctrl+B)";
  // }

  // .ql-italic::after {
  //   content: "Kursiv stil\A(Ctrl+I)";
  // }

  // .ql-underline::after {
  //   content: "Understrykning\A(Ctrl+U)";
  // }

  // .ql-strike::after {
  //   content: "Genomstrykning";
  // }

  // .ql-color::after {
  //   content: "Textfärg";
  // }

  // .ql-background::after {
  //   content: "Bakgrundsfärg";
  // }

  // .ql-list[value="ordered"]::after {
  //   content: "Numrerad lista";
  // }

  // .ql-list[value="bullet"]::after {
  //   content: "Punktlista";
  // }

  // .ql-clean::after {
  //   content: "Rensa formattering";
  // }
}

.ql-editor {
  caret-color: var(--accent-color);
  min-height: 10rem !important;
  max-height: 10rem !important;
  font-size: 1rem;

  &:focus-visible {
    outline: none !important;
  }

  li[data-list] {
    margin-left: unset;
  }
}

.ql-toolbar.ql-snow {
  padding: 0.425rem !important;
  min-height: 38px;
}

li[data-list] {
  margin-left: 2rem;
}

[data-list="bullet"] {
  list-style: disc;
}

[data-list="ordered"] {
  list-style: decimal;
}

li.ql-indent-1 {
  margin-left: 4rem;
}

li.ql-indent-2 {
  margin-left: 6rem;
}

li.ql-indent-3 {
  margin-left: 8rem;
}
