
:root {
  --bg-main-dark: #121212;
  --bg-main-light: #fafafa;

  --border-main-dark: #3a3a3a;
  --border-main-light: #d6d6d6;

  /*  --- Main --- */
  --duration-slow: 250ms;
  --duration-medium: 200ms;
  --duration-fast: 150ms;
}

[data-theme="dark"] {
  /* --- Main --- */
  --bg-main: var(--bg-main-dark);
  --text-main: #e0e0e0;
  --border-main: var(--border-main-dark);

  --accent-color: #ff0af3;
  --accent-color-hover: #ff0af3;

  /* --- Navbar --- */
  --bg-navbar: #1a1a1a;
  --bg-navbar-link: #3a3a3a;
  --bg-dropdown: #1a1a1a;
  --bg-dropdown-link: #3a3a3a;
  --text-navbar: #e0e0e0;

  /* --- Grid --- */
  --bg-grid: var(--bg-main-dark);
  --bg-grid-header: #1a1a1a;
  --border-grid: var(--border-main-dark);

  /* --- Inputs --- */
  --bg-input: var(--bg-main-dark);
  --border-input: var(--border-main-dark);

  /* --- Buttons --- */
  --bg-button-primary: red;
  --bg-button-primary-hover: darkred;
}

[data-theme="light"] {
  /* --- Main --- */
  --bg-main: var(--bg-main-light);
  --text-main: #212121;
  --border-main: var(--border-main-light);

  --accent-color: #ff0af3;
  --accent-color-hover: #ff0af3;

  /* --- Navbar --- */
  --bg-navbar: #f0f0f0;
  --bg-navbar-link: #d6d6d6;
  --bg-dropdown: #f0f0f0;
  --bg-dropdown-link: #d6d6d6;
  --text-navbar: #212121;

  /* --- Grid --- */
  --bg-grid: var(--bg-main-light);
  --bg-grid-header: #f0f0f0;
  --border-grid: var(--border-main-light);

  /* --- Inputs --- */
  --bg-input: var(--bg-main-light);
  --border-input: var(--border-main-light);

  /* --- Buttons --- */
  --bg-button-primary: red;
  --bg-button-primary-hover: darkred;
}
