:root {
  /* --- Z-INDEX --- */
  --z-base: 0;
  --z-overlay: 10;
  --z-modal: 20;
  --z-tooltip: 30;

  /*  --- MAIN --- */
  --bg-main-dark: #121212;
  --bg-main-light: #fafafa;

  --border-main-dark: #e0e0e040;
  --border-main-light: #21212140;
  --border-secondary-dark: #1f1f1f;
  --border-secondary-light: #e9e9e9;

  --slow: 250ms;
  --medium: 200ms;
  --fast: 150ms;

  /* --- ACCENT COLOR --- */
  --accent-color-dark: #6faa7f;
  --accent-color-light: #4b815b;

  --accent-color-hover-dark: #4b815b;
  --accent-color-hover-light: #6faa7f;

  --accent-color-active-dark: #3e6e4e;
  --accent-color-active-light: #5e966e;
}

[data-theme="dark"] {
  /* --- MAIN --- */
  --bg-main: var(--bg-main-dark);
  --text-main: #e0e0e0;
  --text-main-reverse: #212121;
  --text-secondary: #e0e0e0aa;
  --border-main: var(--border-main-dark);
  --border-secondary: var(--border-secondary-dark);

  --accent-color: var(--accent-color-dark);
  --accent-color-hover: var(--accent-color-hover-dark);
  --accent-color-active: var(--accent-color-active-dark);

  /* --- NAVBAR --- */
  --bg-navbar: #1a1a1a;
  --bg-navbar-link: #3a3a3a;

  /* --- TOPBAR --- */
  --bg-topbar: #3a3a3a;
  --bg-topbar-link: #5a5a5a;

  /* --- MODAL --- */
  --bg-modal: var(--bg-topbar);
  --bg-modal-link: var(--bg-topbar-link);

  /* --- GRID --- */
  --bg-grid: #121212;
  --bg-grid-zebra: #181818;
  --bg-grid-header: #1a1a1a;
  --bg-grid-header-hover: #3a3a3a;

  /* --- TOOLTIP --- */
  --bg-tooltip: var(--note-info);
  --text-tooltip: var(--text-main-reverse);

  /* --- BUTTONS --- */
  --button-primary: var(--accent-color);
  --button-primary-hover: var(--accent-color-hover);
  --button-primary-active: var(--accent-color-active);

  --button-secondary: var(--border-main);
  --button-secondary-hover: var(--text-main);
  --button-secondary-active: var(--border-main);

  --button-delete: #aa6f6f;
  --button-delete-hover: #814b4b;
  --button-delete-active: #663939;

  /* --- TOASTS --- */
  --note-error: #aa6f6f;
  --note-error-hover: #aa6f6fbf;
  --note-error-active: #aa6f6fbf;
  --note-info: #f0f0f0;
  --note-info-hover: #f0f0f0bf;
  --note-info-active: #f0f0f0bf;
  --note-success: #6faa7f;
  --note-success-hover: #6faa7fbf;
  --note-success-active: #6faa7f;

  /* --- OTHER --- */
  --locked: var(--button-delete);
  --unlocked: var(--button-primary);
}

[data-theme="light"] {
  /* --- MAIN --- */
  --bg-main: var(--bg-main-light);
  --text-main: #212121;
  --text-main-reverse: #e0e0e0;
  --text-secondary: #212121aa;
  --border-main: var(--border-main-light);
  --border-secondary: var(--border-secondary-light);

  --accent-color: var(--accent-color-light);
  --accent-color-hover: var(--accent-color-hover-light);
  --accent-color-active: var(--accent-color-active-light);

  /* --- NAVBAR --- */
  --bg-navbar: #f0f0f0;
  --bg-navbar-link: #d6d6d6;

  /* --- TOPBAR --- */
  --bg-topbar: #d6d6d6;
  --bg-topbar-link: #f0f0f0;

  /* --- MODAL --- */
  --bg-modal: var(--bg-topbar);
  --bg-modal-link: var(--bg-topbar-link);

  /* --- GRID --- */
  --bg-grid: #fafafa;
  --bg-grid-zebra: #f2f2f2;
  --bg-grid-header: #f0f0f0;
  --bg-grid-header-hover: #d6d6d6;

  /* --- TOOLTIP --- */
  --bg-tooltip: var(--note-info);
  --text-tooltip: var(--text-main-reverse);

  /* --- BUTTONS --- */
  --button-primary: var(--accent-color);
  --button-primary-hover: var(--accent-color-hover);
  --button-primary-active: var(--accent-color-active);

  --button-secondary: var(--border-main);
  --button-secondary-hover: var(--text-main);
  --button-secondary-active: var(--border-main);

  --button-delete: #814b4b;
  --button-delete-hover: #aa6f6f;
  --button-delete-active: #c28888;

  /* --- TOASTS --- */
  --note-error: #814b4b;
  --note-error-hover: #814b4bbf;
  --note-error-active: #814b4b;
  --note-info: #1a1a1a;
  --note-info-hover: #1a1a1abf;
  --note-info-active: #1a1a1a;
  --note-success: #4b815b;
  --note-success-hover: #4b815bbf;
  --note-success-active: #4b815bbf;

  /* --- OTHER --- */
  --locked: var(--button-delete);
  --unlocked: var(--button-primary);
}

/* --- SCROLLBAR --- */
[data-theme="dark"] {
  --scrollbar-thumb-bg: #4d4d4d;
  --scrollbar-thumb-hover-bg: #c0c0c1;
  --scrollbar-up-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,2 1,7 9,7" fill="%234d4d4d"/></svg>');
  --scrollbar-down-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="1,3 9,3 5,8" fill="%234d4d4d"/></svg>');
  --scrollbar-up-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,2 1,7 9,7" fill="%23c0c0c1"/></svg>');
  --scrollbar-down-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="1,3 9,3 5,8" fill="%23c0c0c1"/></svg>');
  --scrollbar-left-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="7,1 2,5 7,9" fill="%234d4d4d"/></svg>');
  --scrollbar-right-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="3,1 8,5 3,9" fill="%234d4d4d"/></svg>');
  --scrollbar-left-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="7,1 2,5 7,9" fill="%23c0c0c1"/></svg>');
  --scrollbar-right-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="3,1 8,5 3,9" fill="%23c0c0c1"/></svg>');
}

[data-theme="light"] {
  --scrollbar-thumb-bg: #d3d1cb;
  --scrollbar-thumb-hover-bg: #9c9b98;
  --scrollbar-up-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,2 1,7 9,7" fill="%23d3d1cb"/></svg>');
  --scrollbar-down-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="1,3 9,3 5,8" fill="%23d3d1cb"/></svg>');
  --scrollbar-up-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,2 1,7 9,7" fill="%239c9b98"/></svg>');
  --scrollbar-down-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="1,3 9,3 5,8" fill="%239c9b98"/></svg>');
  --scrollbar-left-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="7,1 2,5 7,9" fill="%23d3d1cb"/></svg>');
  --scrollbar-right-color: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="3,1 8,5 3,9" fill="%23d3d1cb"/></svg>');
  --scrollbar-left-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="7,1 2,5 7,9" fill="%239c9b98"/></svg>');
  --scrollbar-right-color-hover: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="3,1 8,5 3,9" fill="%239c9b98"/></svg>');
}
