// label {
//   position: absolute;
//   font-size: 1rem;
//   top: 30%;
//   left: 0.75rem;
//   padding: 0 0.375rem;
//   transform: translateY(25%);
//   transition: 0.4s ease;
//   pointer-events: none;
//   user-select: none;
// }

// input:not([type="checkbox"]) {
//   display: flex;
//   width: 100%;
//   padding: 1rem;
//   font-size: 1rem;
//   margin: 1rem 0;
//   border: 2px solid var(--table-clr-accent);
//   border-radius: 4px;
//   background: transparent;
//   color: var(--main-clr);
//   caret-color: var(--accent-clr);
//   min-height: 3rem;
//   max-height: 3rem;
//   transition: font-size 0.2s ease;

//   &:-webkit-autofill {
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: var(--main-clr);
//     -webkit-box-shadow: 0 0 0 1000px transparent inset;
//   }

//   &:focus ~ label,
//   &:not([type="date"]):not(:placeholder-shown) ~ label,
//   &[type="date"]:valid ~ label,
//   &:-webkit-autofill ~ label {
//     background: var(--main-bg);
//     top: 0;
//     color: var(--accent-clr);
//     font-weight: 600;
//   }
// }

// input[type="date"] {
//   font-family: inherit;

//   &::-webkit-calendar-picker-indicator {
//     width: 1.1rem;
//     height: 1.1rem;
//     cursor: pointer;
//   }
// }

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="checkbox"] {
    // min-width: 1.25rem;
    // min-height: 1.25rem;
    // max-width: 1.25rem;
    // max-height: 1.25rem;
    // accent-color: var(--accent-clr);
    // background-color: var(--main-bg);
    // border: 2px solid var(--table-clr-accent);
    // border-radius: 4px;
    // appearance: none;
    // position: relative;
    // cursor: pointer;

    // &.notClickable {
    //   pointer-events: none;
    // }

    &:checked::after {
      content: "";
      position: absolute;
      top: 0.09375rem;
      left: 0.3125rem;
      width: 25%;
      height: 50%;
      border: solid var(--accent-clr);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
